html, body {
  height: 100%; }

body {
  min-height: 100%; }

ui-view {
  min-height: 100%;
  display: block;
  padding: 0 !important;
  background-color: #f7f7f7 !important; }

.home-page {
  background-color: red; }

#sc-login-form, #sc-register-form {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 90%;
  margin: 0 5% 0 5%; }
  #sc-login-form .error input, #sc-register-form .error input {
    background-color: #fff0f0;
    border-color: #dbb1b1; }

@media screen and (max-width: 347px) {
  #sc-login-form .button {
    width: 100%;
    margin-top: 10px; }
    #sc-login-form .button[type=submit] {
      margin-top: 0; } }

html, body {
  height: 100%; }

body {
  min-height: 100%; }

ui-view {
  min-height: 100%;
  display: block;
  padding: 0 !important;
  background-color: #f7f7f7 !important; }
